*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build
/fake-script/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.keystore
*.jks
*.apk
*.aab
!gradle/wrapper/gradle-wrapper.jar
